<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章</title>
    <h2 id="ajaxTitle">{{ page.title }}</h2>
    <div id="ajaxAuthor"> {{ page.author }} </div>
    <div id="ajaxDate">{{ page.date |date_to_string }} 作</div>
    <div id="ajaxPost">
        {{ page.content }}
    </div>
</head>
<body>

</body>
</html>